# Integração Python + Excel

### 2 formas:

1. Pandas (Melhor para arquivos Extensos)
    - Mais usada no geral
    - Trata o Excel como uma base de dados (NÃO ENXERGA AS FORMULAS & GRÁFICOS CONTIDOS NA PLANILHA...)
    - Faz o que quiser com o arquivo
    - Pode desfazer a estrutura original do arquivo, caso queira editar
    
2. Openpyxl (Melhor para tratar especificidades)
    - Trata o Excel como uma planilha mesmo que pode ter várias coisas (CONSERVA FORMULAS E Porém pode perder os GRÁFICOS DAS PLANILHAS)
    - Edita "como se fosse um VBA"
    - Menos eficiente
    - Mantém mais a estrutura original do arquivo, mas cuidado porque não necessariamente tudo, então tem que testar

### Desafio

- Temos uma planilha de produtos e serviços. Com o aumento de imposto sobre os serviços, temos que atualizar o preço dos produtos impactados pela mudança.

Novo Multiplicador Imposto: 1.5

In [1]:
# USANDO PANDAS:
import pandas as pd
tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [2]:
# atualizando a cotação e as colunas seguintes
#->Localizar local p/ Inserção da nova formula p/ novo Calculo de imposto.
#-> tabela.loc[linha, coluna]

#-> Localizar todas as linha 'Serviços' da Coluna 'Tipo'
# Coluna Multiplicador Recebera o valor 1.5 se a linha em 'Tipo' for == 'Serviço'
# Onde na coluna Tipo a linha for == Serviço, a linha referente em
#.. Nultiplicador recebe valor 1.5

tabela.loc[tabela["Tipo"]=="Serviço", "Multiplicador Imposto"] = 1.5


# As malditas aspas simples Fazem a linha de codigo NÃO funcionar. 
# tabela.loc[tabela['Tipo']=='Serviços','Multiplicador Imposto'] = 1.5




display(tabela['Multiplicador Imposto'])

0    1.1
1    1.5
2    1.1
3    1.5
4    1.1
5    1.5
6    1.5
Name: Multiplicador Imposto, dtype: float64

In [3]:

#Coluna 'Preço Base Reais' recebe novo calculo:
#tabela['Preço Base Reais'] = tabela['Multiplicador Imposto'] * tabela['Preço Base Original']
tabela["Preço Base Reais"] = tabela["Multiplicador Imposto"] * tabela["Preço Base Original"]

# Se der o mesmo nome do xlsx original; ele Salva e Substituindo o Arquivo .xlsx Original:
# tabela.to_excel('Produtos.xlsx')
# A Linha 'index=False' Faz com que não exista uma Coluna 0 Com uma numero por linha:
tabela.to_excel("Produtos_Made_In_Pandas.xlsx", index=False)
#tabela.to_excel("Produtos_Made_In_Pandas.xlsx")


tabela2 = pd.read_excel('Produtos.xlsx')
display(tabela2)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.5,6750.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.5,1198.500
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.5,720.720
6,Corte Cabelo,50.00,Serviço,1.5,75.000

In [12]:
# openpyxl
from openpyxl import Workbook, load_workbook

planilha_ = load_workbook("Produtos_Made_In_Pandas.xlsx")

aba_ativa = planilha_.active

# Percorre todas as celulas da coluna 'C' que tiverem valores
for celula in aba_ativa["C"]:
    if celula.value == 'Serviço':
        # A variavel recebe o valor/linha 'Serviço'
        linha = celula.row
        aba_ativa[f'D{linha}'] = 1.5
        
planilha_.save("MadeIn_WorkBook.xlsx")



#_______________________________________________________
tabela3 = pd.read_excel("MadeIn_WorkBook.xlsx")
display(tabela3)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.5,6750.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.5,1198.500
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.5,720.720
6,Corte Cabelo,50.00,Serviço,1.5,75.000